html, body{
  overflow-x: hidden;
}

body{
  font-family: 'Oswald', sans-serif;
}

p{
  font-family: 'Merriweather', serif;
}

.strong{
  font-weight:600
}

.logo {

  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right:1em;

}

.padding-0{
  margin: 0;
  padding: 0;
}

#hero h2{
  color:white;
  font-weight:300;
  font-size: 2.2rem;
  margin-top: 8%;
  line-height: 1.5;
  padding-right: 2em;
}

.graphic{
  max-width: none;
  height: 40vh;
  width:100%
  /* background-size: cover; */

}

i{
  transition: none !important;
}

.page_nav{
  width: 100%;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-color: #141e79;
  font-weight: 300;
  padding: 8px 0px;
}

.landing-panel-p2.second {
  /* margin-bottom:2em; */
}

.page_nav a{
  margin-left: 18px;
  color: #ffffff;
}

.page_nav a:not(:first-child){
  border-left: 1px solid white;
  padding-left: 18px;
}

.container-fluid {
  padding: 0px;
}

.text--blue {
  color: black;
}

.navbar-nav .nav-link {
  color:#328612 !important;
  font-weight:300;
}
.navbar-nav .nav-link.active {
  color:#328612 !important;
  font-weight:600
}

.nav-link {
  position: relative;
}

#white{
  background: white;
  width:100%;
  padding:2em;
}

.whiteBubble {
  padding: 2em 1em;
  position: relative;
  z-index: 1;
  border-radius: .8em;
  margin: 0em 0em 2em 0em;
  z-index: 99;
  background: white;
  /* box-shadow: 0px 0px 14px 2px rgba(191,210,223,.66); */
  border-radius: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #007E7D;
  min-height:17em;
  display: flex;
justify-content: center;
}

.blueColor{
  color:#356DA2;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-size:1.2em;

}

.last-logos{
  max-width:5em
}

.smaller{
  font-size:.9em
}

#cards{
  position: relative;
}

.blueTag{
  background: #356DA2;
  position: absolute;
  top:0;
  z-index: 9;
  padding: .2em 1em;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem

}

.circle{
color: white;
background: #356DA2;
position: absolute;
width: 30px;
height: 30px;
border-radius: 1rem;
display: flex;
align-items: center;
justify-content: center;
top: -15px;
font-size: 1em;
font-weight: 600;
outline: none;
border: none;
line-height: 1;
}

.circle.even{
  bottom:-15px;
  top:unset
}


.tooltip-inner {
    background-color: #007E7D;
    color: white;
    width: auto;
    max-width: 220px;
    text-align: left;
    padding:1.5em 1em;
    border-radius: 1rem;
    font-family: 'Merriweather', serif;
    /* font-size: 100%;
    white-space: nowrap; */
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #007E7D;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #007E7D;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #007E7D;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #007E7D;
}

.popover  {
  background-color: #007E7D;
  color: white !important;
  width: auto;
  max-width: 220px;
  text-align: left;
  padding:1.5em 1em;
  border-radius: 1rem;
  font-family: 'Merriweather', serif;
}

.popover-body {
    padding:0;
    color: white !important;
}

.popover-body a{
  color: white !important;
}

.popover .arrow:after {
  border-bottom-color:#007E7D;
}

.popover .arrow:before {
  border-bottom-color:#007E7D;
}
.bs-popover-top .arrow::after {
    bottom: 1px;
    border-top-color: #007E7D;
}

.white{
  color:white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

#cards .row{
  padding:8em 0em
}
#bottom .row{
padding:4em 0em

}

.topGradient{
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,1) 21%, rgba(205,212,228,0.865983893557423) 100%);
  position: absolute;
  width:100%;
  height:10em;
  right:0;
  left:0;
  top:0
}


.bottomGradient{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 21%, rgba(205,212,228,0.865983893557423) 100%);
  position: absolute;
  width:100%;
  height:10em;
  right:0;
  left:0;
  bottom:0
}

.vertical {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.corners {
  position: relative;
  width: auto;
  padding: 10px 30px;
}

.top, .bottom {
  position: absolute;
  width: 50%;
  height: 60px;
  pointer-events: none;
}

.top {
  top: 0;
  border-top: 1px solid #007E7D;
}

.bottom {
  bottom: 0;
  border-bottom: 1px solid #007E7D;
}

.left {
  left: 0;
  border-left: 1px solid #007E7D;
}


@media (min-width:992px){
  .nav-item:hover .nav-link:after {
    border-bottom: .25rem solid #328612;
    content: "";
    height: .2rem;
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    opacity: 1;
    transition: 1s ease;
    bottom: 0px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .3rem;
  }

}


.nav-link.active:after {
  opacity: 1;
}

p {
  margin-top: 1em;
  margin-bottom: 1rem;
  font-size:1.4em
}


/* .spaceBetween {
display:flex;
justify-content: space-around;
align-items: center;
} */

span.heading {
  color:#36a5ad;
  font-weight:bold;
  font-size:1.3em;
  padding-left: .5em;
  border-left: 1px solid #d43b7d;

}

.header-container {
  width: 28%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  background-color: white;
  min-width: calc(2% + 300px);
}

.header-container .container {
  display: flex;
}

.overflow-hidden{
  overflow: hidden !important;
}
.landing {
  position:relative;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
  -moz-box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
  box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
}

.shadow {
  -webkit-box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
  -moz-box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
  box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
}

header{
  border-bottom: 5px solid #356DA2;
}

#hero .blackOverlay {
  width: 100%;
  height: 40vh;
  overflow: hidden;
  position: absolute;
  background: #007E7D;

}

.mobileOnly{
  display: none
}

.swiper-container {
  width: 100%;
  height: 100%;

}


.swiper-full-mobile {
  position: relative;
    padding: 4em 0em;
}

/* .swiper-full-mobile:before {
  content: "";
  width: 265px;
  background: url(http://md-aqil.github.io/images/Pixel-3-XL.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  height: 565px;
  z-index: 2;
  margin: auto;
} */
.swiper-full-mobile .swiper-slide {
  height: 100%;
}
/* .swiper-full-mobile .swiper-slide img{
  width: 100%;
  height: 530px;
  object-fit: cover;

}
.swiper-slide.swiper-slide-active img {
  border-radius: 40px;

} */
@media (min-width: 1400px){
.container {
    max-width: 1350px;
}
}


@media (max-width:991px) {
  .circle.even{
    bottom:unset;
    top:-15px;
  }

}

@media (max-width:767px) {

.mobileOnly{
  display: block
}

.hideMobile{
  display: none
}

#hero .row{
   display: flex;
    flex-flow: column-reverse;
  }
#hero .col-lg-7 {
  background: #007E7D;
}

.blueTag{
  display: none
}

#hero h2 {
    color: white;
    font-weight: 300;
    font-size: 2rem;
    margin-top: 0;
    line-height: 1.3;
    padding-right: 0em;
    padding: 1em .5em;

}

#white {
    background: white;
    width: 100%;
    padding: 1em;
}
.blueColor {
    color: #356DA2;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 1.4em;
}


.whiteBubble{
min-height: 28em;

margin: 0em 1em;
}
.logo {
      padding-left: 0em;
    max-width: 17em;
}

}
