html, body{
  overflow-x: hidden;
}

body{
  font-family: 'Oswald', sans-serif;
}

p{
  font-family: 'Merriweather', serif;
}

.strong{
  font-weight:600
}

.logo {

  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right:1em;

}

.padding-0{
  margin: 0;
  padding: 0;
}

#hero h2{
  color:white;
  font-weight:300;
  font-size: 2.2rem;
  margin-top: 6%;
  line-height: 1.5;
  padding-right: 13em;

}

.graphic{
  max-width: none;
  height: 20em;
  width:100%;
  background-size: cover;
  max-width: none;
  height: auto;
  width: auto;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 0;
  max-height: 20em;


}

i{
  transition: none !important;
}

.page_nav{
  width: 100%;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-color: #141e79;
  font-weight: 300;
  padding: 8px 0px;
}

.landing-panel-p2.second {
  /* margin-bottom:2em; */
}

.page_nav a{
  margin-left: 18px;
  color: #ffffff;
}

.page_nav a:not(:first-child){
  border-left: 1px solid white;
  padding-left: 18px;
}

.container-fluid {
  padding: 0px;
}

.text--blue {
  color: black;
}

.navbar-nav .nav-link {
  color:#328612 !important;
  font-weight:300;
}
.navbar-nav .nav-link.active {
  color:#328612 !important;
  font-weight:600
}

.nav-link {
  position: relative;
}

#white{
  background: white;
  width:100%;
  padding:2em;
}

#white .blueColor{
  font-size:1.4em
}

.whiteBubble {
  padding: 2em 1.4em;
  position: relative;
  z-index: 1;
  border-radius: .8em;
  margin: 0em 0em 2em 0em;
  z-index: 99;
  background: white;
  /* box-shadow: 0px 0px 14px 2px rgba(191,210,223,.66); */
  border-radius: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: 1px solid #007E7D;
  min-height:17em;
  display: flex;
  justify-content: center;
}

.whiteBubble .blueColor{
  min-height: 4em;
}

ul{
  list-style-type: none !important;
  margin-left: -1.5em;
  margin-top: .5em;

}

ul li::before {
  content: "\f101";
  font-family: "Font Awesome 5 Pro";
  color: white;
  font-weight: 300;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.blueColor{
  color:#356DA2;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  font-size:1.2em;

}

#white .blueColor{
  text-transform: capitalize;
}

.last-logos{
  max-width:5em
}

.smaller{
  font-size:.9em
}

#cards{
  position: relative;
}

.blueTag{
  background: #356DA2;
  position: absolute;
  top:0;
  z-index: 9;
  padding: .2em 1em;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem

}

.circle{
  color: white;
  background: #356DA2;
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -22px;
  font-size: 1.4em;
  font-weight: 600;
  outline: none;
  border: none;
  line-height: 1;
}

.circle.even{
  bottom:-15px;
  top:unset
}

.circle:hover,
.circle:focus,
.circle:active{
  background: #007E7D
}


.tooltip-inner {
  background-color: #007E7D;
  color: white;
  width: auto;
  max-width: 220px;
  text-align: left;
  padding:1.5em 1em;
  border-radius: 1rem;
  font-family: 'Merriweather', serif;
  /* font-size: 100%;
  white-space: nowrap; */
}

.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: #007E7D;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
  border-right-color: #007E7D;
}
.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
  border-bottom-color: #007E7D;
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
  border-left-color: #007E7D;
}

.popover  {
  background-color: #007E7D;
  color: white !important;
  width: auto;
  max-width: 220px;
  text-align: left;
  padding:1.5em 1em;
  border-radius: 1rem;
  font-family: 'Merriweather', serif;
  -webkit-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.5);
}

.popover-body {
  padding:0;
  color: white !important;
}

.popover-body a{
  color: white !important;
}

.popover .arrow:after {
  border-bottom-color:#007E7D;
}

.popover .arrow:before {
  border-bottom-color:#007E7D;
}
.bs-popover-top .arrow::after {
  bottom: 1px;
  border-top-color: #007E7D;
}

.white{
  color:white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

#cards .row{
  padding:8em 0em
}
#bottom .row{
  padding:4em 0em

}

#bottom img{
  max-width:3em;
  margin-right: 1em
}

#bottom img.larger{
  max-width:5em;
  margin-right: 1em
}

#bottom .blueColor{
  font-size: 1.5em;
  margin-bottom:1.5em;
  margin-top:.5em
}


#bottom .d-flex.justify-content-start{
  font-family: 'Merriweather', serif;
  font-size:1em;
  line-height: 1.4;
  border-bottom: 1px dashed #007E7D;
  padding-bottom:1em;
  margin-bottom:1em
}

#bottom .d-flex.justify-content-start:last-child{
  border-bottom:none
}

.topGradient{
  background: rgb(255,255,255);
  background: linear-gradient(360deg, rgba(255,255,255,1) 21%, rgba(205,212,228,0.865983893557423) 100%);
  position: absolute;
  width:100%;
  height:10em;
  right:0;
  left:0;
  top:0
}


.bottomGradient{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 21%, rgba(205,212,228,0.865983893557423) 100%);
  position: absolute;
  width:100%;
  height:10em;
  right:0;
  left:0;
  bottom:0
}

.vertical {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.corners {
  position: relative;
  width: auto;
  padding: 10px 30px;
}

.top, .bottom {
  position: absolute;
  width: 90%;
  height: 60px;
  pointer-events: none;
}

.top {
  top: 0;
  border-top: 1px solid #007E7D;
  border-top-left-radius: 1rem;
}

.bottom {
  bottom: 0;
  border-bottom: 1px solid #007E7D;
}

.left {
  left: 0;
  border-left: 1px solid #007E7D;
}


@media (min-width:992px){
  .nav-item:hover .nav-link:after {
    border-bottom: .25rem solid #328612;
    content: "";
    height: .2rem;
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    opacity: 1;
    transition: 1s ease;
    bottom: 0px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .3rem;
  }

}


.nav-link.active:after {
  opacity: 1;
}

p {
  margin-top: 1em;
  margin-bottom: 1rem;
  font-size:1.4em
}


/* .spaceBetween {
display:flex;
justify-content: space-around;
align-items: center;
} */

span.heading {
  color:#36a5ad;
  font-weight:bold;
  font-size:1.3em;
  padding-left: .5em;
  border-left: 1px solid #d43b7d;

}

.header-container {
  width: 28%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  background-color: white;
  min-width: calc(2% + 300px);
}

.header-container .container {
  display: flex;
}

.overflow-hidden{
  overflow: hidden !important;
}
.landing {
  position:relative;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
  -moz-box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
  box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
}

.shadow {
  -webkit-box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
  -moz-box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
  box-shadow: 0px 0px 14px 2px rgba(191,210,223,1);
}

header{
  border-bottom: 5px solid #356DA2;
}

#hero .blackOverlay {
  width: 100%;
  height: 20em;
  overflow: hidden;
  position: relative;
  background: #007E7D;

}

.mobileOnly{
  display: none
}

.swiper-container {
  width: 100%;
  height: 100%;

}


.swiper-full-mobile {
  position: relative;
  padding: 4em 0em;
}

/* .swiper-full-mobile:before {
content: "";
width: 265px;
background: url(http://md-aqil.github.io/images/Pixel-3-XL.png);
background-size: 100%;
background-repeat: no-repeat;
position: absolute;
left: 0;
right: 0;
top: 0px;
height: 565px;
z-index: 2;
margin: auto;
} */
.swiper-full-mobile .swiper-slide {
  height: 100%;
}
/* .swiper-full-mobile .swiper-slide img{
width: 100%;
height: 530px;
object-fit: cover;

}
.swiper-slide.swiper-slide-active img {
border-radius: 40px;

} */
@media (min-width: 1400px){
  .container {
    max-width: 1300px;
  }
}

@media (max-width:1199px) and (min-width:1025px){
  #hero h2{
    margin-top:1%
  }
}

@media (max-height:675px){
  #hero h2{
    margin-top:4%
  }
  #hero .blackOverlay,
  .graphic {

    max-height: 18em;
  }
}

@media (max-width:1024px){
  .graphic {
    max-width: none;
    height: 20em;
    width: 100%;
    background-size: cover;
    max-width: none;
    height: auto;
    width: 100%;
    background-size: contain;
    position: absolute;
    right: 0;
    top: 0;
    max-height: 20em;
    left: 0;
  }

  #hero .blackOverlay {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #007E7D;
    padding-top: 20em;
  }
  #hero h2 {
    color: white;
    font-weight: 300;
    font-size: 2.2rem;
    margin-top: 6%;
    line-height: 1.5;
    padding-right: 0;
    margin-bottom: 6%;
  }
}


@media (max-width:991px) {
  .circle.even{
    bottom:unset;
    top:-15px;
  }

}

@media (max-width:767px) {
  .whiteBubble .blueColor {
    min-height: 0em;
  }
  ul li::before {

    color: black;
    font-weight: 400;

  }
  ul {
    list-style-type: none !important;
    margin-left: -1.5em;
    margin-top: 0em;
  }

  li{
    margin-bottom: .5em;
  }
  .mobileOnly{
    display: block
  }

  .hideMobile{
    display: none
  }

  #hero .row{
    display: flex;
    flex-flow: column-reverse;
  }
  #hero .col-lg-7 {
    background: #007E7D;
  }

  .blueTag{
    display: none
  }

  #hero h2 {
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    margin-top: 0;
    line-height: 1.3;
    padding-right: 0em;
    padding: 1em 0em 1em 1em;
    margin-right: 0;

  }

  #white {
    background: white;
    width: 100%;
    padding: 2em 0em 2em 2em;
  }
  .blueColor {
    color: #356DA2;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 1.4em;
  }

  /* .swiper-full-mobile {
  position: relative;
  padding: 4em 0em 2em 0em;
  } */
  .whiteBubble{
    min-height: 0em;

    margin: 0em 1.5em;
    padding: 2em 2em;
  }
  .logo {
    padding-left: 0em;
    max-width: 17em;
  }

  .swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    display: inline-block;
    border-radius: 100%;
    background: #8dbdbc;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #007E7D;
  }

  p {

    font-size: 1em;
  }

  .last-logos {
    max-width: 5em;
    margin-top: 2em;
  }
  .swiper-slide a{
    color: #356DA2;
    font-weight: 600;
  }

  #white .blueColor{
    position: relative;
  }

  #white .blueColor:first-child:before{

    background-repeat: no-repeat;
    position: absolute;

    background-image: url('../images/quote.png');
    background-size: 32px auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    content: "";
    left: -35px;
    top: -6px;

  }

  #hero .blackOverlay {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #007E7D;
    padding-top: 20em;


  }

}
